body{
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}
input{
    padding: 7px 10px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid green;
    border-radius: 2px;
}
button{
    margin-top:10px;
    padding: 8px 15px;
    background-color: #5f9341;
    color: white;
    border-style: none;
    font-size: 15px;
    border-radius: 2px;
    font-weight: bold;
    display: inline-block;
}
#delete-btn{
    background-color: white;
    color: #5f9341;
    border: 1px solid #5f9341;
}
ul{
    list-style: none;
    padding-left: 0;
    margin-top: 20px;
}
li{
    margin-top: 10px;
    font-size: 17px;
}
a{
    color: #5f9341;
}
h6{
    text-align: center;
}
